<form (submit)="onSubmitRoom(roomForm)" #roomForm="ngForm">
    <div class="form-group">
      <label for="title">Title:</label><br>
      <input id="title" name="roomTitle" type="text" class="form-control col-10" required ngModel>
      
      <label for="type">Type:</label><br>
      <select class="form-control" id="type" name="roomType" required ngModel>
        <option>Villas</option>
        <option>Appartment</option>
        <option>Condo</option>
        <option>Hotel</option>
      </select>

      <label for="country">Country:</label><br>
      <select class="form-control" id="country" name="roomCountry" required ngModel>
        <option value="Tunisia">Tunisia</option>
      </select>

      <label for="region">Region:</label><br>
      <select class="form-control" id="region" name="roomRegion" required ngModel>
        <option value="Tunis">Tunis</option>
        <option value="Nabeul">Nabeul</option>
        <option value="Sousse">Sousse</option>
        <option value="Bizerte">Bizerte</option>
        <option value="Mednine">Mednine</option>
        <option value="Mahdia">Mahdia</option>
      </select>

      <label for="address">Address:</label><br>
      <input id="address" name="roomAddress" type="text" class="form-control col-10" required ngModel>
      
      <label for="zipCode">zipCode:</label><br>
      <input id="zipCode" name="roomZipCode" type="number" class="form-control col-10" required ngModel>
        
      <label for="facilities">Facilities:</label><br>
      <input id="facilities" name="roomFacilty" type="number" class="form-control col-10" required ngModel>
      
      <label for="commodities">Commodities:</label><br>
      <input id="commodities" name="roomCommodity" type="text" class="form-control col-10" required ngModel>
      
      <label for="Description">Description:</label><br>
      <input id="Description" name="roomDescription" type="text" class="form-control col-10" required ngModel>
      
      <label for="ppn">Price per Night:</label><br>
      <input id="ppn" name="roomPrice" type="number" class="form-control col-10" required ngModel>
      
      <label for="Capacity">Capacity:</label><br>
      <input id="Capacity" name="roomCapacity" type="number" class="form-control col-10" required ngModel>
      
      <label for="Status">Status:</label><br>
      <input id="Status" name="roomStatus" type="number" class="form-control col-10" required ngModel>
      
    </div>
    
    <button class="btn btn-default" type="submit">Submit</button>
  </form>